*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(./images/bb27e732435cef23889177745936d126_t.jpeg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
    
}
.header {
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;

}
.logo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
}
.navbar a{
     display: inline-block;
    font-size: 18px;
    color: rgb(67, 62, 62);
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
}
.navbar {
background: rgb(222, 218, 218);
padding: 10px;
border-radius: 20px;
}
.btn1{
    background: green;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    border: none;
}

h3{
    font-size: 50px;
    max-width: 500px;
    margin-bottom: 10px;
    color: white;
}
p{
    max-width: 450px;
    margin-bottom: 10px;
    color: white;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(46, 140, 3);
    border: none;
    border-radius: 20px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .1);
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 60px;
    transition: .5s ease;
}
.btn:hover{
    border: 2px solid white;
}
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;

}
.home-content{
    max-width: 750px;}
    h4{
        color: white;
        position: relative;
        margin-left: 10px;
      
    }
    .links
    {
        display: flex;
        gap: 20px;
       
    }
    .reviews img{
        width: 20px;
        overflow:hidden;
        border-radius: 50%;
    
    }
  .reviews {
    background: rgba(139, 126, 126, 0.5);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background: green;
    padding: 40px;
   
}
.footer .fc{
     display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: white;}